* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  background-color: bisque;
}
/* Header */

.header .container {
  justify-content: center;
}

/* Add Book */

.input-group-text {
  background-color: #292321;
  color: #fff;
  font-weight: bold;
}

/* Book List */
.refresh {
  text-align: center;
}
.booksContainer {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}
.bookCard {
  border: 1px solid black;
  width: 17rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5px;
  padding: 1rem;
  background-color: antiquewhite;
  -webkit-box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.44);
  box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.44);
  transition: ease-in-out 0.2s;
}
.bookCard:hover {
  transform: scale(1.05);
}
p {
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.book-cover {
  width: 100%;
  height: 15rem;
}
.btns {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 0.5rem;
}
.edit,
.delete {
  padding: 0px 6px;
  border-radius: 2px;
  cursor: pointer;
}
.delete {
  background-color: rgb(228, 63, 63);
  color: #fff;
}

.edit {
  margin-right: 10px;
  background-color: rgb(6, 126, 32);
  color: #fff;
}

.edit,
.delete:hover {
  opacity: 0.7;
}

/* footer */

.footer {
  text-align: center;
  padding: 1rem;
  background-color: rgb(28, 27, 25);
  margin-top: 1rem;
  color: #fff;
}
.icon {
  width: 1.3rem;
  height: auto;
  margin-left: 1rem;
}
