/* Header */

.header .container {
  justify-content: center;
}

/* Add Book */

.input-group-text {
  background-color: #292321;
  color: #fff;
  font-weight: bold;
}

/* Book List */

.edit,
.delete {
  padding: 0px 6px;
  border-radius: 2px;
}

.edit {
  margin-right: 10px;
}
table {
  text-align: center;
}
